doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
		link(rel="stylesheet" href="/typeahead.js-bootstrap4-css/typeaheadjs.css")
		link(rel="stylesheet", href="/jasny-bootstrap/dist/css/jasny-bootstrap.min.css")
		title J. Maxwell Properties | #{title}