.modal.fade#Lease(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title Lease
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				form#EditLease(name="EditLease" ng-submit="editLease()")
					.form-group
						textarea#LeaseTemplate.form-control(rows="10")
					button.btn.btn-success.btn-block(type="submit" ng-click="") Save