nav.navbar.navbar-expand-lg.navbar-dark(style="background-color: #00b894;")
  a.navbar-brand(href="/") J. Maxwell Properties
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarMediaSite" aria-controls="navbarMediaSite" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarMediaSite.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/about") About
      li.nav-item
        a.nav-link(href="/register") Register
      li.nav-item.dropdown
        a#loginDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          | Client Login
        .dropdown-menu(aria-labelledby="loginDropdown")
          a.dropdown-item(data-toggle="modal" data-target="#TenantModal") Tenant
          a.dropdown-item(data-toggle="modal" data-target="#LandLordModal") Landlord
      li.nav-item
        a.nav-link(href="/support") Support
include landlordlogin.pug
include tenantlogin.pug