nav.navbar.navbar-expand-lg.navbar-dark(style="background-color: #00b894;")
	a.navbar-brand(href="/dashboard/tenant") J. Maxwell Properties | Tenant
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTenantSite" aria-controls="navbarTenantSite" aria-expanded="false" aria-label="Toggle navigation")
		span.navbar-toggler-icon
	#navbarTenantSite.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li.nav-item
				a.nav-link(href="/dashboard/tenant/user") Users
			li.nav-item
				a.nav-link(href="/support") Support
		ul.navbar-nav.mr-0
			li.nav-item
				a.nav-link(href="/login/tenant/logout") Logout