.modal.fade#PaymentOption(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
	.modal-dialog.modal-sm(style="max-width: 546px;")
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Payment Option
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				.card.text-center
					.card-header
						ul.nav.nav-pills.card-header-pills#PaymentTypeTabs(role="tablist")
							li.nav-item
								a#credit-tab.nav-link.active(data-toggle="tab" href="#credit" role="tab" aria-controls="credit" aria-selected="true") Credit
							li.nav-item
								a#check-tab.nav-link(data-toggle="tab" href="#check" role="tab" aria-controls="check" aria-selected="false") Check
					.card-body.text-left
						.tab-content
							#credit.tab-pane.show.active(role="tabpanel" aria-labelledby="credit-tab")
								form.was-validated#NewPaymentOptionCredit(name="NewPaymentOptionCredit" novalidate ng-submit="addPaymentOption()")
									.row
										.col-lg-12
											label.col-form-label(for="PaymentOptionCreditCardNumber") Card Number
											input#PaymentOptionCreditCardNumber.form-control.form-control-sm(type="text" required name="PaymentOptionCreditCardNumber" ng-model="PaymentOptionCreditCardNumber" data-mask="999999999999999?9")
											.invalid-feedback Enter valid card number
									label.col-form-label Expiration Date
									.row
										.col-lg-6
											input#PaymentOptionCreditCardExpirationMonth.form-control.form-control-sm(type="number" min="1" max="12" required placeholder="MM" name="PaymentOptionCreditCardExpirationMonth" ng-model="PaymentOptionCreditCardExpirationMonth")
											.invalid-feedback Enter valid month
										.col-lg-6
											input#PaymentOptionCreditCardExpirationYear.form-control.form-control-sm(type="number" min="1" max="99" required placeholder="YY" name="PaymentOptionCreditCardExpirationYear" ng-model="PaymentOptionCreditCardExpirationYear")
											.invalid-feedback Enter valid year
									.row
										.col-lg-12
											label.col-form-label(for="PaymentOptionCreditCardCV") CV Code
											input#PaymentOptionCreditCardCV.form-control.form-control-sm(type="number" min="0" max="9999" required name="PaymentOptionCreditCardCV" ng-model="PaymentOptionCreditCardCV")
											.invalid-feedback Enter valid cv
									br
									button.btn.btn-primary(ng-disabled="NewPaymentOptionCredit.$invalid " type="submit") {{ isObjectEmpty(paymentSetting) ? "Add" : "Edit" }}
							#check.tab-pane(role="tabpanel" aria-labelledby="check-tab")
								form.was-validated#NewPaymentOptionCheck(name="NewPaymentOptionCheck" novalidate ng-submit="addPaymentOption()")
									.row
										.col-lg-6
											label.col-form-label(for="PaymentOptionCheckingRouting") Routing Number
											input#PaymentOptionCheckingRouting.form-control.form-control-sm(type="text" required name="PaymentOptionCheckingRouting" ng-model="PaymentOptionCheckingRouting" data-mask="999999999")
											.invalid-feedback Please enter a routing number
										.col-lg-6
											label.col-form-label(for="PaymentOptionCheckingAccount") Account Number
											input#PaymentOptionCheckingAccount.form-control.form-control-sm(type="text" required name="PaymentOptionCheckingAccount" ng-model="PaymentOptionCheckingAccount" data-mask="9999999999")
											.invalid-feedback Please enter an account number
									br
									button.btn.btn-primary(ng-disabled="NewPaymentOptionCheck.$invalid " type="submit") {{ isObjectEmpty(paymentSetting) ? "Add" : "Edit" }}
																	
					