#EmergencyContact.modal.fade(tabindex="-1", role="dialog", aria-labelledby="EmergencyContactTitle", aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5#EmergencyContactLongTitle.modal-title Emergency Contact
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				form.was-validated#FillContact(name="FillContact" novalidate ng-submit="addEmergencyContact()")
					input(type="text" hidden="" name="PropertyID" id="PropertyID" ng-model="PropertyID")
					.form-group
						label(for="EmergencyContactName") Contact Name
						input#EmergencyContactName.form-control.form-control-sm(type="text" ng-model="EmergencyContactName" placeholder="Mike Jones" required)
						.invalid-feedback Please enter a full name.
					.form-group
						label(for="EmergencyContactPhone") Contact Phone Number
						input#EmergencyContactPhone.form-control.form-control-sm(type="text" ng-model="EmergencyContactPhone" placeholder="555-555-5555" required)
						.invalid-feedback Please enter a telephone number.
					br
					br
					button.btn.btn-primary(ng-disabled="FillContact.$invalid" type="submit") Save
