#Tenant.modal.fade(tabindex="-1", role="dialog", aria-labelledby="TenantTitle", aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5#TenantLongTitle.modal-title Fill Vacancy
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				form.was-validated#FillVacancy(name="FillVacancy" novalidate ng-submit="addTenant()")
					input(type="text" hidden="" name="UnitID" id="UnitID" ng-model="UnitID")
					.form-group
						label(for="TenantName") Full Name
						input#TenantName.form-control.form-control-sm(type="text" ng-model="TenantName" placeholder="John Doe" ng-required="true")
						.invalid-feedback Please enter a full name.
					.form-group
						label(for="TenantEmail") E-Mail Address
						input#TenantEmail.form-control.form-control-sm(type="email" ng-model="TenantEmail" placeholder="john.doe@example.com" ng-required="!isEmailDisabled" ng-disabled="isEmailDisabled")
						.invalid-feedback Please enter a valid email address.
					.form-group
						.form-check
							input#TenantEmailOptOut.form-check-input(type="checkbox" ng-click="emailOptOut()")
							label.form-check-label(for="TenantEmailOptOut") Opt-Out of E-Mail
					button.btn.btn-primary(ng-disabled="FillVacancy.$invalid" type="submit") Save