#TenantFinish.modal.fade(tabindex="-1", role="dialog", aria-labelledby="TenantFinishTitle", aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5#TenantFinishLongTitle.modal-title Done
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				p.lead The vacancy has been filled. If an email was provided an account will be created where the tenant can access the neccessary documents as wel as set up payment information. If not this should be taken care of outside the system.