.modal.fade#TenantComplaint(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title Complaints &nbsp;
					small Unit &num;{{UnitID}}
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				table.table.table-bordered
					caption(style="caption-side:top;padding-top:0;") Last 5 Complaints
					thead
						tr
							th(scope="col") Status
							th(scope="col") Category
							th(scope="col") Opened
							th(scope="col") Closed
							th(scope="col") Assignee	
					tbody
						tr(ng-repeat="complaint in complaints")
							td {{ complaint.GrievanceStatus ? "Closed" : "Open"}}
							td {{ complaint.GrievanceCategory.GrievanceCategory }}
							td {{ complaint.createdAt | date:"yyyy-MM-dd" }}
							td {{ complaint.GrievanceStatus ? (complaint.updatedAt | date:"yyyy-MM-dd") : "-"  }}
							td -
						tr(ng-if="complaints.length === 0")
							td(colspan="5" align="center") No Payments