<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00b894;">
	<a class="navbar-brand" href="/">J. Maxwell Properties</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediaSite" aria-controls="navbarMediaSite" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarMediaSite" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login">Client Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" target="_blank" href="/support">Support</a>
			</li>
		</ul>
	</div>
</nav>
<br>