include partials/header.pug
body
	include partials/nav.pug
	br
	.container
		.row
			.col-lg
				.jumbotron
					h1.display-4 Property Management. Made Simple.
					p.lead Managing your property can be as hassle. Let&apos;s make it simple.
					p.lead
						a.btn.btn-primary.btn-sm(href="/register" role="button") Manage with Us
include partials/footer.pug