include partials/header.pug
include partials/nav_landlord.pug
br
.container-fluid(ng-app="Props" class="ng-cloak")
	div(ng-controller="PropertyDashController")
		.row
			.col
				.card
					.card-header Payments ({{date | date:'MMMM yyyy'}})
					.card-body
						canvas#PaymentsChart
			.col
				.card
					.card-header Complaints ({{date | date:'MMMM yyyy'}})
					.card-body
						canvas#ComplaintChart
		br
		.row
			.col
				.card
					.card-header Units 
					.card-body
						canvas#UnitChart
			.col
				.card
					.card-header Leases ({{date | date:'MMMM yyyy'}})
					.card-body
						canvas#LeaseChart
include partials/footer.pug