include partials/header.pug
body
	include partials/nav.pug
	br
	.container
		.row
			.col-lg
				.jumbotron
					h1.display-4
						| Sorry
					p.lead It appears you are already registerd with us. If you have forgotten your password click the link below.
					p.lead
						a.btn.btn-primary.btn-sm(href="/landlord/forgot" role="button") Forgot Password
include partials/footer.pug