include partials/header.pug
body
	include partials/nav.pug
	br
	.container
		br
		br
		br
		.row
			.col-lg-3
			.col-lg-6
				.card
					h5.card-header.text-center #{title}
					.card-body
						p.card-text Congrats. Your password has been reset, if this was a valid email address you will be recieving an email shortly.
						a.btn.btn-dark.btn-block(href="/login/tenant") Tenant Login
						a.btn.btn-dark.btn-block(href="/login/landlord") Landlord Login
			.col-lg-3
include partials/footer.pug