include partials/header.pug
body
	if Landlord
		include partials/nav_landlord.pug
	else if Tenant
		include partials/nav_tenant.pug
	else
		include partials/nav.pug
	br
	.container
		.row
			.col-lg
				.card
					.card-header Call
					.card-body
						h5.card-title (555) 555-5555
			.col-lg
				.card
					.card-header Email
					.card-body
						h5.card-title
							a(href="mailto:support@jmaxwellproperties.com") support@jmaxwellproperties.com
include partials/footer.pug