include partials/header.pug
include partials/nav_tenant.pug
br
.container-fluid(ng-app="Props" class="ng-cloak")
	div(ng-controller="TenantController")
		.card.text-center
			.card-header
				ul.nav.nav-pills.card-header-pills#TenantTabs(role="tablist")
					li.nav-item
						a#payments-tab.nav-link.active(data-toggle="tab" href="#payments" role="tab" aria-controls="payments" aria-selected="true") Payments
					li.nav-item
						a#complaint-tab.nav-link(data-toggle="tab" href="#complaint" role="tab" aria-controls="complaint" aria-selected="false") Complaints
					li.nav-item
						a#documents-tab.nav-link(data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false") Documents
					li.nav-item
						a#contacts-tab.nav-link(data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false") Emergency Contacts
			.card-body.text-left
				.tab-content
					#payments.tab-pane.show.active(role="tabpanel" aria-labelledby="payments-tab")
						.row
							.col-lg-3
								.row
									.col-lg
										.card.bg-light
											.card-header Payment Options
											.card-body
												span.badge.badge-info(ng-if="paymentSetting.PaymentCCNumber") Credit
												span.badge.badge-info(ng-if="paymentSetting.PaymentCheckAccount") Checking
												br(ng-if="!isObjectEmpty(paymentSetting)")
												label(ng-if="paymentSetting.PaymentCCNumber")
													small ****{{paymentSetting.PaymentCCNumber}}
												label(ng-if="paymentSetting.PaymentCheckAccount")
													small ****{{paymentSetting.PaymentCheckAccount}}
												br(ng-if="!isObjectEmpty(paymentSetting)")
												button.btn.btn-primary.btn-sm(type="button" data-toggle="modal" data-target="#PaymentOption") {{ isObjectEmpty(paymentSetting) ? "Add" : "Edit" }} Payment Option
								br
								.row
									.col-lg
										.card.bg-light
											.card-header Make Payment(s)
											.card-body
												.btn-group(role="group")
													button.btn.btn-dark(type="button" data-toggle="modal" data-target="#PaymentOne") One-Time
							.col-lg-9
								.card.bg-light
									.card-header Payment(s)
									.card-body
										table.table.table-bordered
											caption(style="caption-side:top;padding-top:0;") Showing Payments {{ ((page - 1) * 5) + 1 }} to {{ (((page - 1) * 5) + 5) > paymentcount ? paymentcount : (((page - 1) * 5) + 5) }} of {{ paymentcount }}
											thead
												tr
													th(scope="col") Date
													th(scope="col") Payment Type
													th(scope="col") Confirmation Code
													th(scope="col") Amount
											tbody
												tr(ng-repeat="payment in payments")
													td {{ payment.createdAt | date:"yyyy-MM-dd hh:mm a" }}
													td {{ payment.PaymentOption.PaymentTypeID ? (payment.PaymentOption.PaymentTypeID === 1 ? "Credit Card" : "Check" ) : "Cash" }}
													td {{ payment.PaymentConfirmationCode }}
													td {{ payment.PaymentAmount | currency : "$"}}
										nav
											ul.pagination
												li(ng-class="page === 1 ? 'page-item disabled' : 'page-item'")
													a.page-link(ng-click="go(-1)") Previous
												li(ng-repeat="i in pageList(pageCount) track by $index" ng-class="page === $index + 1 ? 'page-item active' : 'page-item'")
													a.page-link(ng-click="goTo($index + 1)") {{$index + 1}}
												li(ng-class="page === pageCount ? 'page-item disabled' : 'page-item'")
													a.page-link(ng-click="go(1)") Next
					#complaint.tab-pane(role="tabpanel" aria-labelledby="complaint-tab")
						button.btn.btn-dark.btn-sm(type="button" data-toggle="modal" data-target="#Complaint") New Complaint
						br
						br
						.card.text-center
							.card-header
								ul.nav.nav-tabs.card-header-tabs#ComplaintTabs(role="tablist")
									li.nav-item
										a#opencomplaints-tab.nav-link.active(data-toggle="tab" href="#opencomplaints" role="tab" aria-controls="opencomplaints" aria-selected="true") Open&nbsp;
											span.badge.badge-dark {{grievances_open_count}}

									li.nav-item
										a#closedcomplaints-tab.nav-link(data-toggle="tab" href="#closedcomplaints" role="tab" aria-controls="closedcomplaints" aria-selected="false") Closed
									li.nav-item
							.card-body.text-left
								#complaints.tab-content
									#opencomplaints.tab-pane.active(role="tabpanel" aria-labelledby="opencomplaints-tab")
										.alert.alert-dark(role="alert" ng-repeat="grievance in grievances_open")
											.row
												.col-lg-4
													label.font-weight-bold Code
													br
													| {{grievance.GrievanceCode}}
												.col-lg-3
													label.font-weight-bold Category
													br
													| {{grievance.GrievanceCategory.GrievanceCategory}}
												.col-lg-2
													label.font-weight-bold Open Date
													br
													| {{ grievance.createdAt | date :  "yyyy-MM-dd" }}
												.col-lg-3
													.btn-group.btn-group-vertical.float-right(role='group', aria-label='Basic example')
														button.btn.btn-dark.btn-sm(type='button' data-toggle="modal" data-target="#ComplaintThread" data-greivanceid="{{grievance.GrievanceID}}") View Thread
														button.btn.btn-danger.btn-sm(type='button' ng-click="closeGreivance(grievance.GrievanceID)") Close
									#closedcomplaints.tab-pane.show(role="tabpanel" aria-labelledby="closedcomplaints-tab")
										.alert.alert-dark(role="alert" ng-repeat="grievance in grievances_closed")
											.row
												.col-lg-4
													label.font-weight-bold Code
													br
													| {{grievance.GrievanceCode}}
												.col-lg-2
													label.font-weight-bold Category
													br
													| {{grievance.GrievanceCategory.GrievanceCategory}}
												.col-lg-2
													label.font-weight-bold Open Date
													br
													| {{ grievance.createdAt | date :  "yyyy-MM-dd" }}
												.col-lg-2
													label.font-weight-bold Conclusion Date
													br
													| {{ grievance.updatedAt | date :  "yyyy-MM-dd" }}
												.col-lg-2
													.btn-group.btn-group-vertical.float-right(role='group', aria-label='Basic example')
														button.btn.btn-dark.btn-sm(type='button' data-toggle="modal" data-target="#ComplaintThread" data-greivanceid="{{grievance.GrievanceID}}") View Thread
					#documents.tab-pane(role="tabpanel" aria-labelledby="documents-tab")
						table.table.table-bordered
							thead
								tr
									th Document Name
									th Upload Date
									th Download
							tbody
								tr(ng-repeat="document in documents")
									td {{ document.DocumentName }}
									td {{ document.createdAt | date:"yyyy-MM-dd hh:mm:ss a" }}
									td
										a(href="/tenant/document/{{document.DocumentID}}") Download
								tr(ng-if="documents.length === 0")
									td(colspan="3" align="center") No documents
					#contacts.tab-pane(role="tabpanel" aria-labelledby="contacts-tab")
						.row
							.col-lg(ng-repeat="contact in contacts")
								address
									strong {{contact.PropertyContactName}}
									br
									| {{contact.PropertyContactTelephone}}
		include partials/paymentoption_form.pug
		include partials/payment_one_form.pug
		include partials/complaint.pug
		include partials/complaint_new_message.pug
include partials/footer.pug