<div class="modal-header">
	<h5 class="modal-title">One Time Payment</h5>
	<button class="close" type="button" ng-click="cancel()">
		<span>×</span>
	</button>
</div>
<div class="modal-body">
	<form class="was-validated" name="NewPaymentFormValidation" ng-submit="createNewPayment()">
		<div class="row">
			<div class="col-lg-6">
				<label for="PaymentType">Payment Type</label>
				<select class="form-control form-control-sm" required ng-model="NewPaymentForm.selectedPaymentType" ng-options='paymentoption as (paymentoption.PaymentCCNumber ? "****" + paymentoption.PaymentCCNumber : "****" + paymentoption.PaymentCheckAccount) for paymentoption in paymentoptions'>
					<option></option>
				</select>
				<div class="invalid-feedback">Please select payment type</div>
			</div>
			<div class="col-lg-6">
				<label for="PaymentAmount">Amount</label>
				<input type="number" class="form-control form-control-sm" min="0.01" step="0.01" required ng-model="NewPaymentForm.PaymentAmount">
				<div class="invalid-feedback">Please enter an amount</div>
			</div>
		</div>			
		<br>
		<button class="btn btn-primary" ng-disabled="NewPaymentFormValidation.$invalid" type="submit">Create</button>
	</form>
</div>