<div class="modal-header">
	<h5 class="modal-title">Fill Vacancy</h5>
	<button class="close" type="button" ng-click="cancel()">
		<span>×</span>
	</button>
</div>
<div class="modal-body">
	<form class="was-validated" name="NewTenantFormValidation" ng-submit="createNewTenant()">
		<div class="form-group">
			<label for="TenantName">Full Name</label>
			<input type="text" class="form-control form-control-sm" ng-model="NewTenantForm.TenantName" placeholder="John Doe" required>
			<div class="invalid-feedback">Please enter a full name</div>
		</div>
		<div class="form-group">
			<label for="TenantRentAmount">Rent Amount</label>
			<input type="text" class="form-control form-control-sm" ng-model="NewTenantForm.TenantRentAmount" placeholder="2000.00" required>
			<div class="invalid-feedback">Please enter a rent amount name</div>
		</div>
		<div class="form-group">
			<label for="TenantEmail">E-Mail Address</label>
			<input type="email" class="form-control form-control-sm" ng-model="NewTenantForm.TenantEmail" placeholder="john.doe@example.com" required>
			<div class="invalid-feedback">Please enter a valid email address</div>
		</div>
		<button class="btn btn-primary" ng-disabled="NewTenantFormValidation.$invalid" type="submit">Add</button>
	</form>
</div>