<div ng-include="'views/partials/nav.html'"></div>
<br>
<div class="container">
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<div class="card">
				<h5 class="card-header text-center">Password Reset</h5>
				<div class="card-body">
					<p class="card-text">Congrats. Your password has been reset, if this was a valid email address you will be recieving an email shortly.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>