<div ng-include="'views/partials/nav_tenant.html'"></div>
<div class="container-fluid" class="ng-cloak">
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills" id="TenantTabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="payments-tab" data-toggle="tab" href="#payments" target="_self" role="tab">Payments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="complaint-tab" data-toggle="tab" href="#complaint" target="_self" role="tab">Complaints</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" target="_self" role="tab">Documents</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contacts-tab" data-toggle="tab" href="#contacts" target="_self" role="tab">Emergency Contacts</a>
				</li>
			</ul>
		</div>
		<div class="card-body text-left">
			<div class="tab-content">
				<div class="tab-pane show active" id="payments" role="tabpanel" aria-labelledby="payments-tab">
					<div class="row">
						<div class="col-lg-3">
							<div class="row">
								<div class="col-lg">
									<div class="card bg-light">
										<div class="card-header">Payment Options</div>
										<div class="card-body">
											<span class="badge badge-info" ng-if="paymentSetting.PaymentCCNumber">Credit</span>
											<span class="badge badge-info" ng-if="paymentSetting.PaymentCheckAccount">Checking</span>
											<br ng-if="!isObjectEmpty(paymentSetting)"/>
											<label ng-if="paymentSetting.PaymentCCNumber"><small>****{{paymentSetting.PaymentCCNumber}}</small></label>
											<label ng-if="paymentSetting.PaymentCheckAccount"><small>****{{paymentSetting.PaymentCheckAccount}}</small></label>
											<br ng-if="!isObjectEmpty(paymentSetting)"/>
											<button class="btn btn-primary btn-sm" type="button" ng-click="openPaymentOptionModal()">{{ isObjectEmpty(paymentSetting) ? "Add" : "Edit" }} Payment Option</button>
										</div>
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-lg">
									<div class="card bg-light">
										<div class="card-header">Make Payment(s)</div>
										<div class="card-body">
											<div class="btn-group" role="group">
												<button class="btn btn-dark" type="button" ng-click="openPaymentModal()">One-Time</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-9">
							<div class="card bg-light">
								<div class="card-header">Payment(s)</div>
								<div class="card-body">
									<table class="table table-bordered">
										<caption style="caption-side:top;padding-top:0">Showing Payments {{ ((page - 1) * 5) + 1 }} to {{ (((page - 1) * 5) + 5) > paymentcount ? paymentcount : (((page - 1) * 5) + 5) }} of {{ paymentcount }}</caption>
										<thead>
											<tr>
												<th scope="col">Date</th>
												<th scope="col">Payment Type</th>
												<th scope="col">Confirmation Code</th>
												<th scope="col">Amount</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="payment in payments">
												<td>{{ payment.createdAt | date:"yyyy-MM-dd hh:mm a" }}</td>
												<td>{{ payment.PaymentOption.PaymentTypeID ? (payment.PaymentOption.PaymentTypeID === 1 ? "Credit Card" : "Check" ) : "Cash" }}</td>
												<td>{{ payment.PaymentConfirmationCode }}</td>
												<td>{{ payment.PaymentAmount | currency : "$"}}</td>
											</tr>
										</tbody>
									</table>
									<nav>
										<ul class="pagination">
											<li ng-class="page === 1 ? 'page-item disabled' : 'page-item'"><a class="page-link" ng-click="go(-1)">Previous</a></li>
											<li ng-repeat="i in pageList(pageCount) track by $index" ng-class="page === $index + 1 ? 'page-item active' : 'page-item'"><a class="page-link" ng-click="goTo($index + 1)">{{$index + 1}}</a></li>
											<li ng-class="page === pageCount ? 'page-item disabled' : 'page-item'"><a class="page-link" ng-click="go(1)">Next</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="complaint" role="tabpanel" aria-labelledby="complaint-tab">
					<button class="btn btn-dark btn-sm" type="button" ng-click="openComplaintModal()">New Complaint</button><br/><br/>
					<div class="card text-center">
						<div class="card-header">
							<ul class="nav nav-tabs card-header-tabs" id="ComplaintTabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="opencomplaints-tab" data-toggle="tab" href="#opencomplaints" role="tab" target="_self">Open&nbsp;<span class="badge badge-dark">{{grievances_open_count}}</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="closedcomplaints-tab" data-toggle="tab" href="#closedcomplaints" role="tab" target="_self">Closed</a>
								</li>
							</ul>
						</div>
						<div class="card-body text-left">
							<div class="tab-content" id="complaints">
								<div class="tab-pane show active" id="opencomplaints" role="tabpanel">
									<div class="alert alert-dark" role="alert" ng-repeat="grievance in grievances_open">
										<div class="row">
											<div class="col-lg-4">
												<label class="font-weight-bold">Code</label><br/>{{grievance.GrievanceCode}}
											</div>
											<div class="col-lg-3">
												<label class="font-weight-bold">Category</label><br/>{{grievance.GrievanceCategory.GrievanceCategory}}
											</div>
											<div class="col-lg-2">
												<label class="font-weight-bold">Open Date</label><br/>{{ grievance.createdAt | date :  "yyyy-MM-dd" }}
											</div>
											<div class="col-lg-3">
												<div class="btn-group btn-group-vertical float-right" role="group">
													<button class="btn btn-dark btn-sm" type="button" ng-click="openMessageThreadModal(grievance.GrievanceID)">View Thread</button>
													<button class="btn btn-danger btn-sm" type="button" ng-click="closeGreivance(grievance.GrievanceID)">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="closedcomplaints" role="tabpanel">
									<div class="alert alert-dark" role="alert" ng-repeat="grievance in grievances_closed">
										<div class="row">
											<div class="col-lg-4">
												<label class="font-weight-bold">Code</label><br/>{{grievance.GrievanceCode}}
											</div>
											<div class="col-lg-2">
												<label class="font-weight-bold">Category</label><br/>{{grievance.GrievanceCategory.GrievanceCategory}}
											</div>
											<div class="col-lg-2">
												<label class="font-weight-bold">Open Date</label><br/>{{ grievance.createdAt | date :  "yyyy-MM-dd" }}
											</div>
											<div class="col-lg-2">
												<label class="font-weight-bold">Conclusion Date</label><br/>{{ grievance.updatedAt | date :  "yyyy-MM-dd" }}
											</div>
											<div class="col-lg-2">
												<div class="btn-group btn-group-vertical float-right" role="group">
													<button class="btn btn-dark btn-sm" type="button" ng-click="openMessageThreadModal(grievance.GrievanceID)">View Thread</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="documents" role="tabpanel" aria-labelledby="documents-tab">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Document Name</th>
								<th>Upload Date</th>
								<th>Download</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="document in documents">
								<td>{{ document.DocumentName }}</td>
								<td>{{ document.createdAt | date:"yyyy-MM-dd hh:mm:ss a" }}</td>
								<td><a ng-click="generateDocument(document.DocumentID)" href="/dashboard/tenant#" target="_self">Download</a></td>
							</tr>
							<tr ng-if="documents.length === 0">
								<td colspan="3" align="center">No documents</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
					<div class="row">
						<div class="col-lg" ng-repeat="contact in contacts">
							<address><strong>{{contact.PropertyContactName}}</strong><br/>{{contact.PropertyContactTelephone}}</address>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>